.navbar {
  .themeIcon {
    margin-top: -3px;
  }

  .navbar-collapse {
    transition: $transition-300;

    .btn {
      transition: $transition-300;
    }
  }
}

.container-x-sm {
  width: $container-x-sm;
  max-width: $full;
  padding: 0 15px;
  margin: 0 auto;
}

.bg-dark {
  h4 {
    margin: 0;
  }
}

.pointer {
  cursor: pointer;
}

.font-cursive {
  font-family: cursive;
}