$dark: rgb(32, 32, 35);
$light: #f0e7db;
$white: #fff;
$hover-bg: #E6FFFA;
$black: #000;


$transition-300: .3s ease-in-out;
$transition-500: .5s ease-in-out;
$rounded-full: 50%;
$container-x-sm: 550px;
$full: 100%;